.Login {
  width: 100vw;
  height: 100vh;
  background-color: #9cc5a1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentBox {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ContentBox > h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 600;
  transition: 0.2s;
}

.ContentBox > h3 {
  font-size: 18px;
  font-weight: 600;
  color: #216869;
}
