.Main {
  width: 100vw;
  height: 80vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  scroll-snap-type: y mandatory;
}

.MonthandDay {
  margin: 25vh 0;
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  scroll-snap-align: start;
}

.ContentBox {
  overflow: auto;
  width: 600px;
  height: 650px;
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.ContentTitle {
  font-family: 'Inter';
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.DailyList {
  font-size: 30px;
}

.CalenderBox {
  overflow: auto;
  width: 800px;
  height: 650px;
  background-color: #fff;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.Todo {
  height: 100px;
}

.TodoDate {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TodoDate > Button:hover {
  background-color: #49a078;
}

.addBtn {
  width: 100px;
  height: 30px;
}

.TodoDate > p {
  font-weight: 900;
}

.SkeletonTitle {
  margin-top: 10px;
}

.SkeletonBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  margin-top: 5px;
}

.WeeklyListBox {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black; 
}

.WeeklyListTitle {
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  width: 100%;
}

.WeeklyListItemBox {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.WeeklyListItem {
  width: 100%;
  height: 78px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.WeeklyItemTitle {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 22px;
}

.WeeklyItem {
  flex: 1;
  height: 100%;
  border-radius: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.WeeklyStartTime {
  font-size: 14px;
  font-weight: 800;
  font-family: 'Inter';
}


.label1 {
  background-color: #AFD5F7;
}

.label2 {
  background-color: #FBB4C1;
}

.label3 {
  background-color: #B7E6B6;
}

.Weekly {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.WeeklyBox {
  width: 90%;
  height: 90%;
  min-width: 1400px;
  background-color: #fff;
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.WeeklyTitle {
  font-family: 'Inter';
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}


.WeekCalender {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.WeekMoveBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  font-size: 24px;
}

.WeekContentBox {
  width: 100%;
  height: 100%;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.WeekBox {
  width: 100%;
  height: 50px;
  border-bottom:1px solid black;
  display: flex;
}

.WeekContent {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}

.WeekPrintBox {
  width: 100%;
  height: calc((100% - 50px) / 24);
  border-bottom:1px solid black;
  display: flex;
}

.WeekExplainBox {
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.WeekExplain {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}

.WeekExplain > h2{
  font-size: 14px;
  font-family: 'Inter';
  font-weight: bold;
}

.WeekExplainIcon {
  width: 14px;
  height: 14px;
  border-radius: 100%;
}