.NewTask {
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.LabelBox {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.SelectLabel {
  width: 60px;
  height: 28px;
  border:1px solid rgba(31, 36, 33, 0.5);
  color: rgba(31, 36, 33, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  font-size: 10px;
  font-weight: 900;
  cursor: pointer;
  user-select: none;
}

.Select {
  background-color: #598E8E;
  border:1px solid #598E8E;
  color: #fff;
}

.TaskNameInput {
  width: calc(100%);
  height: 37px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 14px;
  color: black;
  font-weight: 400;
  border:1px solid rgba(31, 36, 33, 0.5);
  outline: none;
}

.NumberInputBox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.NumberInputSlice {
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
}

.NumberInput {
  width: 100px;
  height: 30px;
  padding-left: 10px;
  font-size: 14px;
  outline: none;
  border: 1px solid rgba(31, 36, 33, 0.5);
  background-color: #fff;
  border-radius: 5px;
}

.SwitchBox {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 10px; 
}

.SwitchText {
  font-weight: 700;
  font-size: 14px;
}

.TimeBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px; 
  margin-top: 10px;
}

.TimeBoxTitle {
  font-weight: 600;
  color: rgb(33, 31, 38);
}

.TimeBoxSubTitle {
  font-size: 12px;
  font-weight: 400;
  color: rgb(33, 31, 38);
}

.SwitchRoot {
  width: 42px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  /* box-shadow: 0 0 0 2px black; */
}
.SwitchRoot[data-state='checked'] {
  background-color: rgb(33, 131, 88);
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px black;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
}

.btnBox{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.btn {
  width: 100%;
  height: 36px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.save {
  color: rgb(33, 131, 88);
  background-color: rgb(196, 232, 209);
}
