.Splash {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9cc5a1;
}

.ContentBox {
  width: 500px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.ServiceBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ServiceBox > h2 {
  color: #598e8e;
  font-weight: 900;
  font-size: 24px;
}

.ButtonBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
}

.CustomBtnBox {
  width: 440px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.CustomBtn {
  cursor: pointer;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
  height: auto;
}
